.hero-unit.pull-right
  %h2 Edit #{resource_name.to_s.humanize}
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal"}) do |f|
    = devise_error_messages!
    .control-group
      = f.label :name, "Name", :for => "user_name", :class => "control-label"
      .controls
        = f.text_field :name
    .control-group
      = f.label :bio, "Bio", :for => "user_bio", :class => "control-label"
      .controls
        = f.text_area :bio
    .control-group
      = f.label :email, :for => "user_email", :class => "control-label"
      .controls
        = f.email_field :email, :autofocus => true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          .help-block
            %p 
              Currently waiting confirmation for: #{resource.unconfirmed_email}
    .control-group
      = f.label :password, :for => "user_password", :class => "control-label"
      .controls
        = f.password_field :password
        .help-block
          %p
            Leave blank if you don't want to change it
    .control-group
      = f.label :password_confirmation, :for => "user_password_confirmation", :class => "control-label"
      .controls
        = f.password_field :password_confirmation

    .control-group
      = f.label :current_password, :for => "user_current_password", :class => "control-label"
      .controls
        .help-block
          %p
            We need your current password to confirm your changes.
          = f.password_field :current_password
          = f.submit "Update", :class => "btn btn-primary"

    %h3 Cancel my account
    %p
      Unhappy? #{button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "btn btn-danger"}
