.hero-unit.pull-right
  %h2 Sign up
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
    = devise_error_messages!
    .control-group
      = f.label :name, "Name", :for => "user_name", :class => "control-label"
      .controls
        = f.text_field :name
    .control-group
      = f.label :email, :for => "user_email", :class => "control-label"
      .controls
        = f.email_field :email, :autofocus => true
    .control-group
      = f.label :password, :for => "user_password", :class => "control-label"
      .controls
        = f.password_field :password
    .control-group
      = f.label :password_confirmation, :for => "user_password_confirmation", :class => "control-label"
      .controls
        = f.password_field :password_confirmation
    = f.submit "Sign up", :class => "btn btn-primary btn-block"
= render "devise/shared/links"
