.hero-unit
  %h1= @user.name
  %p= @user.bio
%ul.project-list
  - @user.projects.each do |project|
    %li
      %a{:href => user_project_path(:user_id => project.user.id, :id => project.id)}= project.name
      .pull-right
        %span.label.label-success Created at
        = project.created_at
        %span.label.label-info Updated at
        = project.updated_at

