.hero-unit.pull-right
  %h2 Change your password
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f|
    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .control-group
      = f.label :password, "New password", :for => "user_password", :class => "control-label"
      .controls
        = f.password_field :password, :autofocus => true
    .control-group
      = f.label :password_confirmation, "Confirm new password", :for => "user_pssword_confirmation", :class => "control-label"
      .controls
        = f.password_field :password_confirmation
    = f.submit "Change my password", :class => "btn btn-primary btn-block"
= render "devise/shared/links"
