.hero-unit.pull-right
  %h2 Forgot your password?
  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f|
    = devise_error_messages!
    .control-group
      = f.label :email, :for => "user_email", :class => "control-label"
      .controls
        = f.email_field :email, :autofocus => true
    = f.submit "Send me reset password instructions", :class => "btn btn-primary btn-block"
= render "devise/shared/links"
