.hero-unit
  %h1 What was the Fusuma.
  %p.lead In the past, it was a Web service.
  %p.lead Service is still running with a chaotic source code.
  %p.lead This service is made from that failure.
  .pull-right
    - if current_user.blank?
      %a.btn.btn-large.btn-success{:href => trial_project_path} Trial
      %a.btn.btn-large.btn-primary{:href => new_user_session_path} Sign in
      %a.btn.btn-large.btn-primary{:href => new_user_registration_path} Sign up
    - else
      %a.btn.btn-large.btn-primary{:href => new_user_project_path(current_user.id)} Create

%h1 Recent Projects
%ul.project-list
  - @projects.each do |project|
    %li
      %a{:href => user_project_path(:user_id => project.user.id, :id => project.id)}= project.name
      .pull-right
        Created by
        %a.label{:href => user_path(project.user.id)}= project.user.name
        (#{project.created_at})
