- if @project.errors.size > 0
  %h4 Error
  %p #{@project.errors.size} errors prohibited this product from being saved:
  %ul
    - @project.errors.full_messages.each do |msg|
      %li= msg


= form.label :name, "Name"
= form.text_field :name, :class => "input-xxlarge"

= form.label :slide, "Slide"
= form.text_area :slide, :class => "span12"
%span.help-block
  %p You can use the following HTML tags.
  %p
    %code &lt;section&gt;
    %code &lt;h1&gt;
    %code &lt;h2&gt;
    %code &lt;h3&gt;
    %code &lt;p&gt;
    %code &lt;img&gt;
    %code &lt;code&gt;
    %code &lt;b&gt;
    %code &lt;ul&gt;
    %code &lt;ol&gt;
    %code &lt;li&gt;
    %code &lt;i&gt;
    %code &lt;a&gt;
    %code &lt;br /&gt;

%label.checkbox
  = form.check_box :public
  Public?

