%h1 Edit #{@project.name}
%p Last Updated #{@project.updated_at}

= form_for(@project, :url => user_project_path(@project.id), :html => {:method => :put}) do |f|
  .form-ship
    = render  :partial => "form", :locals=>{:form=>f}
    .form-actions
      %a.btn.btn-success.btn-large#preview preview
      = f.submit "Update", :class => "btn btn-primary btn-large"

= form_tag(preview_user_projects_path(:user_id => current_user.id), :class => "preview_form", :target => :preview) do
  = hidden_field_tag "slide", "", :id => "slide"
  