%h1 Projects

%a.btn.btn-large.btn-primary{:href => new_user_project_path(current_user.id)} new

%ul.project-list
  - @projects.each do |project|
    %li
      %a{:href => user_project_path(:user_id => project.user.id, :id => project.id)}= project.name
      .pull-right
        %span.label.label-success Created at
        = project.created_at
        %span.label.label-info Updated at
        = project.updated_at
        %a.btn.btn-success{:href => edit_user_project_path(:user_id => current_user.id, :id => project.id)} Edit
        = link_to "Delete", user_project_path(:user_id => current_user.id, :id => project.id), :method => :delete, :class => "btn btn-danger"


