%h1 New Project
%p Create as #{current_user.name}

= form_for(@project, :url => user_projects_path(current_user.id)) do |f|
  .form-ship
    = render  :partial => "form", :locals=>{:form=>f}
    .form-actions
      %a.btn.btn-success.btn-large#preview preview
      = f.submit "Create", :class => "btn btn-primary btn-large"

= form_tag(preview_user_projects_path(:user_id => current_user.id), :class => "preview_form", :target => :preview) do
  = hidden_field_tag "slide", "", :id => "slide"
