-#%h1 Projects#show
-#%p Find me in app/views/projects/show.html.haml

-#= @project.name
-#= @project.slide

= raw @project.slide

-#= @project.public

-#%a{:href => edit_user_project_path(@project.id)} Edit
-#= link_to "Delete" user_project_path(@project.id), :mthod => :delete