%textarea#copyarea.span12{:disabled => ""}
  = render :file => 'layouts/download'
.pull-right
  %a.btn.btn-primary{:href => user_project_path(:user_id => @project.user.id, :id =>@project.id )} Show
  - if !current_user.blank?
    - if !@project.user.blank?
      - if current_user.id == @project.user.id
        %a.btn.btn-success{:href => edit_user_project_path(:user_id => current_user.id, :id => @project.id)} Edit
        = link_to "Delete", user_project_path(:user_id => current_user.id, :id => @project.id), :method => :delete, :class => "btn btn-danger"
