%h1 Trial

= form_tag(preview_trial_project_path, :class => "preview_form", :target => :preview) do
  = text_area_tag :slide, @project.slide, :class => "span12", :id => "copyarea"
  %span.help-block
    %p You can use the following HTML tags.
    %p
      %code &lt;section&gt;
      %code &lt;h1&gt;
      %code &lt;h2&gt;
      %code &lt;h3&gt;
      %code &lt;p&gt;
      %code &lt;img&gt;
      %code &lt;code&gt;
      %code &lt;b&gt;
      %code &lt;ul&gt;
      %code &lt;ol&gt;
      %code &lt;li&gt;
      %code &lt;i&gt;
      %code &lt;a&gt;
      %code &lt;br /&gt;

  = submit_tag "Preview", :class => "btn btn-primary btn-large"