.hero-unit.pull-right
  %h2 Sign in
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal"}) do |f|
    .control-group
      = f.label :email, :for => "user_email", :class => "control-label"
      .controls
        = f.email_field :email, :autofocus => true
    .control-group
      = f.label :password, :for => "user_password", :class => "control-label"
      .controls
        = f.password_field :password
    - if devise_mapping.rememberable?
      .control-group
        .controls
          %lebel.checkbox
            = f.check_box :remember_me
            Remember me

    = f.submit "Sign in", :class => "btn btn-primary btn-block"
= render "devise/shared/links"
