
/*
 *= require cssreset-min
 *= require_self
 *= require bootstrap_and_overrides
 *= require projects
 */

.subtlepattern_gray_jean {
    background-image: url("/assets/gray_jean.png");
}


footer {
    position: fixed;
    left: 10px;
    bottom: 10px;
}
