// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass/utilities";
@import "compass/css3";
@import "sassy-buttons";
@import "zurui-sass";

section.step {
      width: 900px;
      height: 400px;
      font-size: 1em;
      min-height: 500px;
      padding: 20px;
      background-color: white;
      display: block;
      @include zurui-box-emboss;      
      @include border-radius(20px);
}

div.form-ship {
      backroud-color: #eee;
      padding: 20px;
      @include border-radius(10px);
      @include zurui-box-deboss;
}

ul.project-list {
	li {
	   padding: 20px;
	   margin: 10px;
	   @include border-radius(10px);
	   @include zurui-box-deboss;
	}
}

textarea#copyarea {
      font-size: 1em;
      min-height: 600px;
      padding: 20px;
      background-color: white;
      display: block;
      @include zurui-box-emboss;      
      @include border-radius(20px);
}