!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Fusuma"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    / Please include Twitter bootstrap
    / BAD EXAMPLE
    / <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    / <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
    %style
      :css
        section.step {
          width: 900px;
          height: 400px;
          font-size: 1em;
          min-height: 500px;
          padding: 20px;
          background-color: white;
          display: block;
          border: 1px solid rgba(0, 0, 0, 0.15);
          -webkit-box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, white -1px -1px 0 inset;
          -moz-box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, white -1px -1px 0 inset;
          box-shadow: rgba(0, 0, 0, 0.05) -1px 1px 0, white -1px -1px 0 inset;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          border-radius: 20px;
        }


  %body
    .container-fluid
      .row-fluid
        #jmpress
          =  @project.slide
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    / Please include jquery, jmpress
    / <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    / BAD EXAMPLE
    / <script type="text/javascript" src="http://jmpressjs.github.com/jmpress.js/dist/jmpress.all.min.js"></script>
    :coffeescript
      $ ->
        $("#jmpress").jmpress()
