!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Fusuma"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    /= stylesheet_link_tag "slideshow", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    %link(href="images/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="images/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="favicon.ico" rel="shortcut icon")


  %body.subtlepattern_gray_jean
    .navbar.navbar-fluid-top{"data-spy" => "affix"}
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="/") Fusuma
          .container.nav-collapse
            %ul.nav.pull-right
              - if current_user.blank?
                %li
                  %a{:href => new_user_session_path} Sign in
                %li
                  %a{:href => new_user_registration_path} Sign up
              - else
                %li
                  %a{:href => user_projects_path(current_user.id)} Projects  
                %li
                  %a{:href => edit_user_registration_path}= current_user.name
                %li
                  = link_to "Sign out", destroy_user_session_path, :method => :delete
    .container-fluid

      .row-fluid
        #jmpress
          = yield

      %footer
        - if !current_user.blank?
          - if !@project.user.blank?
            - if current_user.id == @project.user.id
              %a.btn.btn-success{:href => edit_user_project_path(:user_id => current_user.id, :id => @project.id)} Edit
              = link_to "Delete", user_project_path(:user_id => current_user.id, :id => @project.id), :method => :delete, :class => "btn btn-danger"
            %a.btn{:href => source_user_project_path(:user_id => @project.user.id, :id => @project.id)} Source




    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    /= javascript_include_tag "slideshow"
    = javascript_include_tag "application"
    :coffeescript
      $ ->
        $("#jmpress").jmpress()
